<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body>
    Error:404 page not found;
</body>
<footer style="margin-bottom:2%;margin-top:2%;text-align:center;">
    <p>&copy;  <h2>About Us</h2>
      <p>Email: admin@sharewith.com</p>
      <p>contact No: (+91)933-6842-211</p>.</p>
  </footer>
</html>