<% for(let i in posts){ %>
    <h1><%= posts[i].title %></h1>
    <p>content</p>
    <% } %>

    <footer style="margin-bottom:2%;margin-top:2%;text-align:center;">
        <p>&copy;  <h2>About Us</h2>
          <p>Email: admin@sharewith.com</p>
          <p>contact No: (+91)933-6842-211</p>.</p>
      </footer>